#todolist{
  padding-left: 40px;
  padding-top: 80px;
  padding-right: 40px;

  .top {
      h3 {
        width: 160px;
        height: 59px;
        text-align: left;
        font: Medium 40px/59px Noto Sans TC;
        letter-spacing: 0;
        color: #E8E8E8;
        opacity: 1;
        float: left;
      }

      .not-finish {
        margin-left: 264px;
        width: 48px;
        height: 24px;
        text-align: right;
        font: Regular 16px/24px Noto Sans TC Regular;
        letter-spacing: 0;
        color: #E8E8E8;
        opacity: 1;
      }

      .finish {
         margin-left: 24px;
         width: 48px;
         height: 24px;
         text-align: right;
         font: Regular 16px/24px Noto Sans TC Regular;
         letter-spacing: 0;
         color: #E8E8E8;
         opacity: 0.5;
      }
  }

  .add-btn {
    margin-top: 40px;
    .addTodoItem {
      width: 560px;
      height: 56px;
      padding-left: 15px;
      background: #FFFFFF 0% 0% no-repeat padding-box;
      border: 1px solid #FFFFFF;
      border-radius: 183px;
      opacity: 1;
      color: #000;
    }

    .add {
      left: 504px;
      top: 8px;
      position: absolute;
      width: 48px;
      height: 40px;
      background: #F08448 0% 0% no-repeat padding-box;
      border-radius: 71px;
      opacity: 1;
    }  

    .add-icon {
      left: 520px;
      top: 18px;
      position: absolute;      
    }  
  }

  .break-line {
    margin-top: 50px;
    margin-bottom: 10px;
    opacity: 0.1;
  }

  .show-list {
    margin-top: 20px;
    ul  {
      list-style-type: none;
    }

    li {
      width: 50%;
      height: auto;
      margin-top: 20px;
    }
    .round {
      width: 24px;
      height: 24px;
      opacity: 1;
      position: relative;
      float: left;
      margin-right: 16px;
    }

    .round label {
      border: 1px solid #ccc;
      border-radius: 50%;
      cursor: pointer;
      height: 28px;
      left: 0;
      position: absolute;
      top: 0;
      width: 28px;
    }

    .round label:after {
      border: 2px solid #fff;
      border-top: none;
      border-right: none;
      content: "";
      height: 6px;
      left: 7px;
      opacity: 0;
      position: absolute;
      top: 8px;
      transform: rotate(-45deg);
      width: 12px;
    }

    .round input[type="checkbox"] {
      visibility: hidden;
    }

    .round input[type="checkbox"]:checked + label:after {
      opacity: 1;
    }
  }
}
