#tomato {
	.countDown {
		.clock {
			position: absolute;
			top: 13px;
			padding-top: 8px;
			left: 180px;
			width: 411px;
			height: 202px;
			font-size: 170px;
			color: $color-light3;
			text-align: left;
		}
		.bell, .cancel {
			position: absolute;
			top: 225px;
			width: 43px;
			height: 43px;
			border: 2px solid $color-light3;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			background-color: $color-primary;
		}
		.bell {
			left: 277px;
		}
		.cancel {
			left: 421px;
		}
		.play {
			position: absolute;
			top: 217px;
			left: 341px;
			width: 59px;
			height: 59px;
			border: 1px solid $color-light3;
			border-radius: 50%;
			display: flex;
			justify-content: center;
		}
	}
	.bottom {
		display: flex;
		justify-content: center;
		.orangeTomato {
			position: absolute;
			top: 410px;
			width: 800px;
			height: 260px;
		}
	}
}