#tomato {
	.countDown {
		.clock {
			position: absolute;
			top: 40px;
			padding-top: 8px;
			left: 120px;
			width: 451px;
			height: 252px;
			font-size: 200px;
			color: $color-light3;
			text-align: left;
		}
		.bell, .cancel {
			position: absolute;
			top: 300px;
			width: 48px;
			height: 48px;
			border: 2px solid $color-light3;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			background-color: $color-primary;
		}
		.bell {
			left: 250px;
		}
		.cancel {
			left: 394px;
		}
		.play {
			position: absolute;
			top: 292px;
			left: 314px;
			width: 64px;
			height: 64px;
			border: 1px solid $color-light3;
			border-radius: 50%;
			display: flex;
			justify-content: center;
		}
	}
	.bottom {
		display: flex;
		justify-content: center;
		.orangeTomato {
			position: absolute;
			top: 620px;
			width: 1200px;
			height: 200px;
		}
	}
}